<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpinghands">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name="Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="Restarter1"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice1" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".emergencycontacts"
            android:label="Emergency Contacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editprofile"
            android:label="Edit Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup"
            android:label="Create new Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:label="Login - Helping Hands"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAa_wd3V99ZKIaF0Nt8Z6P836T74TbgDIw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <service android:name=".BackgroundService" android:enabled="true" android:process=":helping_hands_background"></service>
        <service android:name=".BGDatabaseListenerService" android:enabled="true" android:process=":helping_hands_bgdabaselistener"></service>
    </application>

</manifest>